<!-- views/token.ejs -->

<h1>Token Details</h1>

<div class="token-detail">
  <h2><%= token.tokenId %></h2>
  
  <div class="token-property">
    <strong>Token ID:</strong> <%= token.tokenId %>
  </div>
  
  <div class="token-property">
    <strong>Amount:</strong> <%= token.amount %>
  </div>
  <div class="token-property">
    <strong>Amount:</strong> <%= token.amount %>
  </div>
  
  <div class="token-property">
    <strong>Type:</strong> 
    <% 
      let typeLabel = "";
      switch (token.typeCode) {
        case 0:
          typeLabel = "Fungible Token (FT)";
          break;
        case 1:
          typeLabel = "Non-Fungible Token (NFT)";
          break;
        case 2:
          typeLabel = "Proof-of-Existence Token (PoE)";
          break;
        case 3:
          typeLabel = "Smart Contract Trigger Token";
          break;
        case 4:
          typeLabel = "Oracle-Verified Token";
          break;
        case 5:
          typeLabel = "Compliance-Bound Token";
          break;
        case 6:
          typeLabel = "Vesting Token";
          break;
        case 7:
          typeLabel = "Multi-Sig Restricted Token";
          break;
        case 8:
          typeLabel = "DAO Governance Token";
          break;
        case 9:
          typeLabel = "Fee Payment Token";
          break;
        case 10:
          typeLabel = "Wrapped Asset Token";
          break;
        case 11:
          typeLabel = "Cross-Chain Bridge Token";
          break;
        case 12:
          typeLabel = "Royalty Token";
          break;
        case 13:
          typeLabel = "Subscription Access Token";
          break;
        case 14:
          typeLabel = "Identity Token";
          break;
        case 15:
          typeLabel = "Treasury Reserve Token";
          break;
        default:
          typeLabel = "Type not yet assigned";
      }
    %>
    <%= token.typeCode %> - <%= typeLabel %>
  </div>
  
  
  
  <div class="token-property">
    <strong>Metadata:</strong> <%= token.metadata %>
  </div>
  
  <div class="token-property">
    <strong>Block Height:</strong> <%= token.blockHeight %>
  </div>
  
  <div class="token-property">
    <strong>Block Hash:</strong> <%= token.blockHash %>
  </div>
  
  <div class="token-property">
    <strong>Timestamp:</strong> <span class="timestamp" data-timestamp="<%= token.timestamp %>">
      <%= new Date(token.timestamp * 1000).toLocaleString() %>
    </span>
  </div>
  
  <div class="token-property">
    <strong>Transaction ID:</strong> <%= token.txid %>
  </div>
  
  <div class="token-property">
    <strong>Valid Script:</strong> <%= token.isValidScript ? 'Yes' : 'No' %>
  </div>
  
  <a href="/" class="details-btn">Back to List</a>
</div>

<div class="tx-details">
  <h3>Transaction Details</h3>
  <pre><%= JSON.stringify(rawTx, null, 2) %></pre>
</div>